body{
    font-family: 'Outfit', sans-serif;
    background-image: url(../imagens/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.cabecalho{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 50px;
    }
    .cabecalho .titulo{
        color: #c42607;
            }
    .cabecalho .akumanomi{
        width: 100px;
        height: 100px;
    }

    .lista-one-piece{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 80px;
        margin: 60px 0;
    } 
    .lista-onepiece{
        width: 310px;
        height: 520px;
        position: relative;
        }       
        .btn-seta{
            /* background-color: white; */
            width: 70px;
            height: 70px;
            border-radius: 50px;
            border: 0;
            cursor: pointer;
            transition: background-color 0.2s ease-in-out;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
        }
        
            .btn-seta.btn-voltar{
                transform: rotatey(180deg);    
            }
            .btn-seta:hover{
                background-color: #8351fe;
            }
            .cartao{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;   
                position: absolute;  
                padding: 12px;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
                transition: opacity 0.3s ease-in-out;

            }
            .cartao.selecionado {
                opacity: 1;
                z-index: 1;        
            }
            .fundo-1{background: url(../imagens/fundo-lufy-2.jpg);}
            .fundo-2{background: url(../imagens/fundo-barba.jpg);}
            .fundo-3{background: url(../imagens/fundo-fujitora.jpg);}
            .fundo-4{background: url(../imagens/fundo-aokiji.jpg);}
            .fundo-5{background: url(../imagens/fundo-kataguri.jpg);}


            .cartao .informacoes{
                background-color: rgba(119, 118, 122, 0.7);
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 8px 10px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                font-family: 'Times New Roman', Times, serif;
                                      
            }

            .cartao .informacoes .nome{
                color: rgb(245, 249, 251);
                font-size: 30px;
           }
           .container-image{
            text-align: center;
           }
           .cartao .boneco-stilo{
            max-width: 100%;
            max-height: 280%;
            padding: 20px;
        }
    .cartao .descricao{
        background: rgba(255, 255, 255, 0.8);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }   

    .cartao .descricao .titulo{
        background-color: #333;
        color: #f1ecff;
        font-size: 10px;
        padding: 10px;
    } 
    .cartao .descricao .texto{
        font-size: 12px;
        padding: 12px;
        text-align: justify;
        max-height: 110px;
        overflow-y: auto;      
}
           





            
   


